### El nino and la Nina Effect over Austin

In [16]:
import pandas as pd
import numpy as np
import requests
import os
import csv

from pathlib import Path
import matplotlib as plt
import scipy.stats as st
from scipy import stats

In [93]:
NinoNina = Path("Resources/Nino_Nina_Timeline.xlsx")
NinoNina_df = pd.read_excel(NinoNina)
NinoNina_filtered_date_df=NinoNina_df.loc[NinoNina_df['Year']>=2000]
NinoNina_filtered_date_df
Strength=[]
for x in range(len(NinoNina_filtered_date_df.index)):
    
    if NinoNina_filtered_date_df.iloc[x,1]=="Nina":
        if NinoNina_filtered_date_df.iloc[x,2]=="Weak":
                Strength.append(-1)
        elif NinoNina_filtered_date_df.iloc[x,2]=="Moderate":
                Strength.append(-2)                        
        elif NinoNina_filtered_date_df.iloc[x,2]=="Strong":
                Strength.append(-3)                           
        elif NinoNina_filtered_date_df.iloc[x,2]=="Very Strong":
                Strength.append(-4)                                 
                                
    elif NinoNina_filtered_date_df.iloc[x,1]=="Nino":
        if NinoNina_filtered_date_df.iloc[x,2]=="Weak":
                Strength.append(1)
        elif NinoNina_filtered_date_df.iloc[x,2]=="Moderate":
                Strength.append(2)                        
        elif NinoNina_filtered_date_df.iloc[x,2]=="Strong":
                Strength.append(3)                           
        elif NinoNina_filtered_date_df.iloc[x,2]=="Very Strong":
                Strength.append(4)
    elif NinoNina_filtered_date_df.iloc[x,1]=="None":
           Strength.append(0)
NinoNina_filtered_date_df['Intensity']=Strength
NinoNina_filtered_date_df.head()

C:\Users\Leo\AppData\Local\Temp\ipykernel_31840\1532194957.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NinoNina_filtered_date_df['Intensity']=Strength

    Year Effect  Strength  Intensity
48  2000   Nina      Weak         -1
49  2001   None       NaN          0
50  2002   Nino  Moderate          2
51  2003   None       NaN          0
52  2004   Nino      Weak          1

In [81]:
#os.chdir(os.path.dirname(os.path.realpath(__file__)))
water_level_csv = Path("Resources/Lake_travis_water.xlsx")
water_travis_df = pd.read_excel(water_level_csv)

water_travis_df=water_travis_df.drop([0])

water_travis_df.rename({'Unnamed: 0':"Date", "Unnamed: 1":"Water Level ", "Unnamed: 2":"Surface Area", "Unnamed: 3":"Reservoir Storage ", "Unnamed: 4":"Conservation Storage", "Unnamed: 5":"Percent Full","Unnamed: 6":"Conservation Capacity ", "Unnamed: 7":"Dead Pool Capacity"}, axis=1, inplace=True)

water_travis_df.head()

water_travis_df['Date'] = pd.to_datetime(water_travis_df['Date'])
water_travis_df["date2"]=water_travis_df["Date"].dt.strftime('%Y-%m')

water_travis_df = water_travis_df.drop('Date', axis=1)
water_travis_df.rename({"date2":"Date"}, axis=1, inplace=True)
water_travis_df['Date'] = pd.to_datetime(water_travis_df['Date'])
start_date = '2000-01-01'
water_travis_dated_df=water_travis_df.loc[water_travis_df['Date']>=start_date]
water_travis_dated_df=water_travis_dated_df.drop_duplicates(subset=['Date'], keep='last')
water_travis_dated_df.head(10)
#Now I have per month levels or water for lake travis start from 2000

,Water Level,Surface Area,Reservoir Storage,Conservation Storage,Percent Full,Conservation Capacity,Dead Pool Capacity,Date
20969,663.65,15010,838198,816773,73.3,1113531,21425,2000-01-01
20998,664.17,15120.7,846032,824607,74.1,1113531,21425,2000-02-01
21029,663.38,14952.6,834153,812728,73,1113531,21425,2000-03-01
21059,659.92,14213.8,783726,762301,68.5,1113531,21425,2000-04-01
21090,655.9,13416,728203,706778,63.5,1113531,21425,2000-05-01
21120,651.09,12526.1,665820,644395,57.9,1113531,21425,2000-06-01
21151,644.87,11331.9,591436,570011,51.2,1113531,21425,2000-07-01
21182,643.76,11093.6,579012,557587,50.1,1113531,21425,2000-08-01
21212,641.06,10673,549636,528211,47.4,1113531,21425,2000-09-01
21243,648.43,12042.4,633147,611722,54.9,1113531,21425,2000-10-01